*/*.aux
*/*.bbl
*/*.bcf
*/*.blg
*/*.glg
*/*.glo
*/*.gls
*/*.ist
*/*.lof
*/*.log
*/*.lol
*/*.lot
*/*.out
*/*.pdf
*/*.pyg
*/*.toc
*/*.xdy
*/*.xml
*/_minted*
004-notcurses/hilodirect
004-notcurses/hilostdio
004-notcurses/hol-formatter
004-notcurses/speech
004-notcurses/tetrimino
004-notcurses/tetrimino-input
004-notcurses/dot
