img.type {
  height: 1em;
  width: 1em;
}

table.alignright td,
table.alignright th {
  text-align: right;
}

table.evenshade {
  border-collapse: collapse;
}

table.evenshade tr:nth-child(even) {
  background-color: #ddd;
}

table.fastattacks {
  margin: 0 0 1em 0;
}

table.fastattacks tr :nth-child(1n+3) {
  text-align: right;
}

table.chargedattacks tr :nth-child(1n+3) {
  text-align: right;
}

div.intro {
  text-align: justify;
  text-justify: inter-word;
  padding: 1em;
}

/* type effectiveness colors */
.teneg3 {
  background-color: #d0ffd0;
}

.teneg2 {
  background-color: #e0ffe0;
}

.teneg1 {
  background-color: #f0fff0;
}

.tepos0 {
  background-color: #ffffff;
}

.tepos1 {
  background-color: #fff0f0;
}

.tepos2 {
  background-color: #ffe0e0;
}
