img.type {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

table.alignright td,
table.alignright th {
  text-align: right;
}

table.evenshade {
  border-collapse: collapse;
}

table.evenshade tr:nth-child(even) {
  background-color: #ddd;
}

/* attack pair timing and power */
table.apair tr :nth-child(1n+4) {
  text-align: right;
  padding: 0 0 0 1em;
}

/* attack pairs sorted by dankness (two forms, condensed for ML) */
table.dankstat tr :nth-child(1n+8) {
  text-align: right;
  padding: 0 0 0 1em;
}

table.fastattacks {
  margin: 0 0 1em 0; /* a bit of space between us and charged attacks */
}

table.fastattacks tr :nth-child(1n+3) {
  text-align: right;
  padding: 0 0 0 1em;
}

table.chargedattacks tr :nth-child(1n+3) {
  text-align: right;
  padding: 0 0 0 1em;
}

/* best dynamax attackers (by type and unified) */
table.dynas tr :nth-child(1) {
  text-align: center;
}

table.dynas tr :nth-child(1n+4) {
  text-align: right;
  padding: 0 0 0 1em;
}

#allfast tr :nth-child(n+2):nth-child(-n+7) { /* tables of all fast attacks */
  text-align: right;
}

#allfast tr :nth-child(8) {
  padding: 0 0 0 1em;
}

#allcharged tr :nth-child(n+2):nth-child(-n+6) { /* tables of all charged attacks */
  text-align: right;
}

#allcharged tr :nth-child(7) {
  padding: 0 0 0 1em;
}

div.intro {
  text-align: justify;
  text-justify: inter-word;
  padding: 1em;
}

/* type effectiveness colors */
.teneg3 {
  background-color: #d0ffd0;
}

.teneg2 {
  background-color: #e0ffe0;
}

.teneg1 {
  background-color: #f0fff0;
}

.tepos0 {
  background-color: #ffffff;
}

.tepos1 {
  background-color: #fff0f0;
}

.tepos2 {
  background-color: #ffe0e0;
}
